@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: roboto;
}
section {
  background:rgb(218, 217, 217);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  max-width: 400px;
  background-color:orangered;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px 10px 10px 4px #aaa;
}
.display {
  background-color: whitesmoke;
  height: 100px;
  border-radius:8px;
  width: 100%;
  text-align: right;
  font-size: 30px;
  padding: 20px;
  position: relative;
}
.display-1 {
  opacity: 0.4;
  font-size: 17px;
  height: 20px;
  overflow: hidden;
}
.temp-result {
  position: absolute;
  bottom: 0;
  left: 10;
  font-size: 20px;
  opacity: 0.4;
}
.all_buttons {
  color: whitesmoke;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
  border: 0.5px solid grey;
  display: inline-block;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
  transition: all ease .2s;

}
.button:hover{
    background: rgb(30,43,46);
}
.btn-0{
  grid-column: 1/3;
}